<script src="assets/js/jquery.min.js"> </script>
<script src="assets/js/clipboard.min.js"> </script>
<script src="assets/js/bootstrap.min.js"></script>

<script>
  // Tooltip

  $('button').tooltip({
    trigger: 'click',
    placement: 'bottom'
  });

  function setTooltip(message) {
    $('button').tooltip('hide')
      .attr('data-original-title', message)
      .tooltip('show');
  }

  function hideTooltip() {
    setTimeout(function() {
      $('button').tooltip('hide');
    }, 1000);
  }

  // Clipboard

  var clipboard = new ClipboardJS('button');

  clipboard.on('success', function(e) {
    setTooltip('Copied!');
    hideTooltip();
  });

  clipboard.on('error', function(e) {
    setTooltip('Failed!');
    hideTooltip();
  });

</script>
